@import "tailwindcss";
@import url(https://fonts.googleapis.com/css?family=Jura);

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes: wts --default;
}

@plugin "daisyui/theme" {
    name: "wts";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(0.15 0.04 270);
    --color-base-200: oklch(0.1 0.02 270);
    --color-base-300: oklch(0.05 0.01 270);
    --color-base-content: oklch(98% 0 0);
    --color-primary: oklch(0.6 0.25 330);
    --color-primary-content: oklch(93% 0.034 272.788);
    --color-secondary: oklch(0.65 0.25 85);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(0.25 0.08 270);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 2rem;
    --radius-field: 0.25rem;
    --radius-box: 0rem;
    --size-selector: 0.3125rem;
    --size-field: 0.3125rem;
    --border: 2px;
    --depth: 1;
    --noise: 0;
}

@font-face {
    font-family: "StarzoomShavian";
    src: url("/fonts/starzoom-shavian.regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "StarZoomShavian";
    src: url("/fonts/starzoom-shavian.italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@theme {
    /* Dark colors */
    --color-dark-50: oklch(0.85 0.05 270);
    --color-dark-100: oklch(0.75 0.1 270);
    --color-dark-200: oklch(0.65 0.15 270);
    --color-dark-300: oklch(0.55 0.2 270);
    --color-dark-400: oklch(0.45 0.15 270);
    --color-dark-500: oklch(0.35 0.1 270);
    --color-dark-600: oklch(0.25 0.08 270);
    --color-dark-700: oklch(0.2 0.06 270);
    --color-dark-800: oklch(0.15 0.04 270);
    --color-dark-900: oklch(0.1 0.02 270);
    --color-dark-950: oklch(0.05 0.01 270);

    /* Secondary colors */
    --color-secondary-50: oklch(0.97 0.05 85);
    --color-secondary-100: oklch(0.95 0.1 85);
    --color-secondary-200: oklch(0.9 0.15 85);
    --color-secondary-300: oklch(0.85 0.2 85);
    --color-secondary-400: oklch(0.8 0.25 85);
    --color-secondary-500: oklch(0.75 0.3 85);
    --color-secondary-600: oklch(0.65 0.25 85);
    --color-secondary-700: oklch(0.55 0.2 85);
    --color-secondary-800: oklch(0.45 0.15 85);
    --color-secondary-900: oklch(0.35 0.1 85);
    --color-secondary-950: oklch(0.25 0.05 85);

    /* Primary colors */
    --color-primary-50: oklch(0.97 0.05 330);
    --color-primary-100: oklch(0.95 0.1 330);
    --color-primary-200: oklch(0.9 0.15 330);
    --color-primary-300: oklch(0.85 0.2 330);
    --color-primary-400: oklch(0.8 0.25 330);
    --color-primary-500: oklch(0.7 0.3 330);
    --color-primary-600: oklch(0.6 0.25 330);
    --color-primary-700: oklch(0.5 0.2 330);
    --color-primary-800: oklch(0.4 0.15 330);
    --color-primary-900: oklch(0.3 0.1 330);
    --color-primary-950: oklch(0.2 0.05 330);

    /* Font families */
    --font-sans: "Jura";
    --font-star: "StarzoomShavian";
}

main {
    background: url("/bg.png") center center no-repeat;
    background-size: cover;
    min-height: 100vh;
}
